@model Classes.Entites.Eleve

<h2>Fiche eleve</h2>

<!-- Identité -->
<h3>Nom :</h3>
<h4>@Model.Nom.ToUpper() @Model.Prenom</h4>

<!-- Notes -->
<h3>Notes :</h3>
@if (Model.Notes != null)
{
    <table>
        <tr>
            <th>Notes</th>
            <th></th>
        </tr>

        @foreach (var note in Model.Notes)
        {
            <tr>
                <td>@note.NoteValeur</td>
                <td><input type="button" value="Modifier" onclick="location.href='@Url.Action("ModifierNote", "Home")'" /></td>
            </tr>
        }
    </table>
}
else
{
    <h4> L'eleve n'a pas encore de note.</h4>
}
<input type="button" value="Entrer une note" onclick="location.href='@Url.Action("AjouterNote", "Home")'" />

<!-- Absences -->
<h3>Absences :</h3>
@if (Model.Absences != null)
{
    <table>
        <tr>
            <th>Absences</th>
        </tr>
        @foreach (var absence in Model.Absences)
        {
            <tr>
                <td>@absence.Motif</td>
            </tr>
        }
    </table>
}
else
{
    <h4> L'eleve n'a pas d'absence.</h4>
}
<input type="button" value="Enregistrer une absence" onclick="location.href='@Url.Action("AjouterAbsence", "Home")'" />